<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="mfn-navbar" th:fragment="mfn-navbar">
    <ul>
        <li class="mfn-menuItem">
            <a class="mfn-menuItem" th:href="@{/}">Home</a>
        </li>
        <li class="mfn-menuItem dropdown">
            <a href="javascript:void(0)" class="dropbtn">Tools</a>
            <div class="dropdown-content">
                <a th:href="@{/contract_calculator}">Contract Calculator</a>
            </div>
        </li>
    </ul>
</div>
</body>
</html>