.contract-parameters-grid {
  display: inline-grid;
  grid-template-columns: auto auto 50px 150px;
  gap: 2px;
  padding: 2px;
}

.contract-parameters-grid div {
  overflow: hidden;
}

#minSalaryLabel, #bonusRequiredLabel, #escalatorLabel {
  grid-column-start: 1;
  text-align: right;
}

#reset {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 4;
  grid-column-end: 5;
}

#submit {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 4;
  grid-column-end: 5;
}

.contract-parameters-button {
  color: white;
}

.contract-parameters-button[type="reset"] {
  background-color: #FC4C02;
}

.contract-parameters-button[type="submit"] {
  background-color: #005778;
}

/* The below stylings are required to remove spinners from input elements; sadly, browser dependent! */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}