<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div id="mfn-navbar" th:fragment="mfn-navbar">
    <nav>
        <ul>
            <li>
                <a id="mfn-navbar-home" th:href="@{/}">Home</a>
            </li>
            <li><a id="mfn-navbar-tools">Tools</a>
                <ul>
                    <li>
                        <a id="mfn-navbar-contract-calculator" th:href="@{/contract-calculator}">Contract Calculator</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>