<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="contract-parameters-form(requested_remuneration)">
    <form th:object="${requested_remuneration}" th:action="@{/contract-calculator/submit}" method="post">
        <div class="contract-parameters-grid mfn-text">
            <label id="mfn-cc-salary-label" for="minSalaryAndBonus">Minimum Salary</label>
            <input id="minSalaryAndBonus" type="number" th:field="*{salary}"/>
            <label id="mfn-cc-bonus-label" for="bonusRequired">Bonus Requested</label>
            <input id="bonusRequired" type="number" th:field="*{bonus}"/>

            <label id="mfn-cc-escalator-label" for="mfn-cc-escalator">Escalator %</label>
            <input type="range" name="escalator" id="mfn-cc-escalator" value="*{escalator.value}"
                   min="*{escalator.minValue}" max="*{escalator.maxValue}"
                   step="*{escalator.step}"
                   oninput="mfn-cc-escalator-value.value = mfn-cc-escalator.value" th:field="*{escalator.value}">
            <output id="mfn-cc-escalator-value" th:text="*{escalator.value}"></output>

            <input class="contract-parameters-button" id="mfn-cc-reset" type="reset" value="Reset"  th:text="Reset"/>
            <input class="contract-parameters-button" id="mfn-cc-submit" type="submit" value="Submit"  th:text="Submit"/>
        </div>
    </form>
</div>
</body>
</html>


