<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="contract-parameters-form(contract_parameters)">
    <form th:object="${contract_parameters}">
        <div class="contract-parameters-grid mfn-text">
            <label id="mfn-cc-salary-label" for="minSalaryAndBonus" th:text="#{mfn.contract-calculator.salary-label.text}"></label>
            <input id="minSalaryAndBonus" type="number" th:field="${contract_parameters.salary}"/>

            <label id="mfn-cc-bonus-label" for="bonusRequired">Bonus Required</label>
            <input id="bonusRequired" type="number" th:field="${contract_parameters.bonus}"/>

            <label id="mfn-cc-escalator-label" for="mfn-cc-escalator"  th:text="#{mfn.contract-calculator.escalator-label}"></label>
            <input type="range" name="escalator" id="mfn-cc-escalator" value="#{mfn.contract-calculator.escalator.default}"
                   min="#{mfn.contract-calculator.escalator.default}" max="#{mfn.contract-calculator.escalator.max}"
                   step="#{mfn.contract-calculator.escalator.step}"
                   oninput="mfn-cc-escalator-value.value = mfn-cc-escalator.value" th:field="${contract_parameters.escalator}">
            <output id="mfn-cc-escalator-value" th:text="#{mfn.contract-calculator.escalator.default}"></output>

            <input class="contract-parameters-button" id="mfn-cc-reset" type="reset" value="Reset"/>
            <input class="contract-parameters-button" id="mfn-cc-submit" type="submit" value="Submit"/>
        </div>
    </form>
</div>
</body>
</html>