<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="contract-parameters-form">
    <form>
        <div class="contract-parameters-grid mfn-text">
            <label id="minSalaryLabel" for="minSalaryAndBonus">First Year min salary and bonus</label>
            <input id="minSalaryAndBonus" type="number"/>

            <label id="bonusRequiredLabel" for="bonusRequired">Bonus Required</label>
            <input id="bonusRequired" type="number"/>

            <label id="escalatorLabel" for="escalator">Escalator %</label>
            <input type="range" name="escalator" id="escalator" value="5" min="5" max="100" step="5"
                   oninput="escalator_disp.value = escalator.value">
            <output id="escalator_disp">5</output>

            <input id="reset" type="reset" value="Reset"/>
            <input id="submit" type="submit" value="Submit"/>
        </div>
    </form>
</div>
</body>
</html>