<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="suggested-contracts-table">
    <table id="mfn-cc-contracts-table" class="suggested-contracts-table">
        <thead class="contract-details-header">
        <tr>
            <td id="mfn-cc-contracts-main-header" colspan="7">Suggested Contract Details</td>
        </tr>
        <tr>
            <td id="mfn-cc-contracts-sub-header-years">Years</td>
            <td id="mfn-cc-contracts-sub-header-salary">Total Salary</td>
            <td id="mfn-cc-contracts-sub-header-remuneration">Total Remuneration</td>
            <td id="mfn-cc-contracts-sub-header-contract-year">Contract Year</td>
            <td id="mfn-cc-contracts-sub-header-contract-year-salary">Salary</td>
            <td id="mfn-cc-contracts-sub-header-contract-yearly-bonus">Bonus per Year</td>
            <td id="mfn-cc-contracts-sub-header-contract-year-total">Total per Year</td>
        </tr>
        </thead>
        <tbody th:if="${ not#lists.isEmpty(suggested_contracts)}">
        <tr th:each="contract : ${suggested_contracts}">
            <td th:id="${#ids.seq('mfn-cc-contracts-years')}" th:text="${contract.years}"></td>
            <td th:id="${#ids.seq('mfn-cc-contracts-total-salary')}" th:text="${contract.totalSalary}"></td>
            <td th:id="${#ids.seq('mfn-cc-contracts-total-remuneration')}" th:text="${contract.totalRemuneration}"></td>
            <td>
                <table class="nested-table">
                    <tr th:each="year : ${contract.listedYears}">
                        <td th:id="${#ids.seq('mfn-cc-contracts-year')}" th:text="${year}"></td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="nested-table">
                    <tr th:each="yearlySalary : ${contract.yearlySalaries}">
                        <td th:id="${#ids.seq('mfn-cc-contracts-year-salary')}" th:text="${yearlySalary}"></td>
                    </tr>
                </table>
            </td>
            <td th:id="${#ids.seq('mfn-cc-contracts-bonus-per-year')}" th:text="${contract.bonusPerYear}"></td>
            <td>
                <table class="nested-table">
                    <tr th:each="totalPerYear : ${contract.totalsPerYear}">
                        <td th:id="${#ids.seq('mfn-cc-contracts-total-per-year')}" th:text="${totalPerYear}"></td>
                    </tr>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--<ul>-->
<!--    <li-->
<!--            th:each="property: ${postType.getProperties()}"-->
<!--            th:id="${#ids.seq('property')}"-->
<!--            th:text="${property.getDisplayName()}"-->
<!--    ></li>-->
<!--</ul>-->


</body>
</html>