<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="suggested-contracts-table">
    <table class="suggested-contracts-table">
        <thead class="contract-details-header">
        <tr>
            <td colspan="7">Suggested Contract Details</td>
        </tr>
        <tr>
            <td>Years</td>
            <td>Total Salary</td>
            <td>Total Salary and Bonus</td>
            <td>Year</td>
            <td>Salary</td>
            <td>Bonus per Year</td>
            <td>Total per Year</td>
        </tr>
        </thead>
        <tbody th:if="${ not#lists.isEmpty(suggestedContracts)}">
        <tr th:each="contract : ${suggestedContracts}">
            <td th:text="${contract.years}"></td>
            <td th:text="${contract.totalSalary}"></td>
            <td th:text="${contract.totalRemuneration}"></td>
            <td>
                <table class="nested-table">
                    <tr th:each="year : ${contract.listedYears}">
                        <td th:text="${year}"></td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="nested-table">
                    <tr th:each="yearlySalary : ${contract.yearlySalaries}">
                        <td th:text="${yearlySalary}"></td>
                    </tr>
                </table>
            </td>
            <td th:text="${contract.bonusPerYear}"></td>
            <td th:text="${contract.totalPerYear}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>